*
  box-sizing: border-box
body
  font-family: sans-serif
  margin: 0
  padding: 0
  +interReg
.container
  max-width: 1248px
  width: 98%
  margin: 0 auto
@mixin mainColor
  background-color: FB8F1D
.btn
  outline: none
  background-color: transparent
  border-radius: 8px
  cursor: pointer
  border: 1px solid #FB8F1D 
img
  width: 100%
  height: auto
.section
  &-title
    font-size: 36px
    +Playfair
    margin: 0 auto
    font-weight: 700
  
  
  
  
  